.SwiperMain{
  position: relative;
  width: 100%;
  // height: 78vh;
  height: 88vh;
  transform: translateY(-112px);

  // transform: translateY(-112px);

  // border: 1px solid red;
  margin-bottom: -80px;


body,html{
  // border: 1px solid green;
  width: 100%;
}

.mySwiper {
  max-width: 100%;
  margin: 0 auto;
  // padding: 0px 24px;

  // border: 1px solid red;
  
}

.swiper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #0A0101;
  
  max-width: 100%;
  height: 100%;

  border-radius: 0;

  padding: 24px 16px;

  // border: 1px solid red;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

}


//SwiperSecondary
.SwiperSecondary{
  position: relative;
  width: 100%;
  height: 80vh;

  // border: 1px solid red;


body,html{
  // border: 1px solid green;
  width: 100%;
}

.mySwiper {
  max-width: 100%;
  margin: 0 auto;
  // padding: 0px 24px;

  // border: 1px solid red;
  
}

.swiper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #0A0101;
  
  max-width: 100%;
  height: 100%;

  border-radius: 0;

  padding: 0;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

}

//SwiperSecondary
.SwiperTertiary{
  position: relative;
  width: 100%;
  height: 80vh;

  transform: translateY(-16px);

  // margin-bottom: -64px;

  // border: 1px solid red;


body,html{
  width: 100%;
}

.mySwiper {
  max-width: 100%;
  margin: 0 auto;
  // padding: 0px 24px;

  // border: 1px solid red;
  
}

.swiper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #0A0101;
  
  max-width: 100%;
  // height: 100%;

  border-radius: 0;

  padding: 0;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

}
