

.filterMenu {
    
    .title{
        // display: inline-block;
        // position: relative;
        &::after{
            content: "";
            display: block;
            position: relative;
      
            width: 80%;
            height: 3px;
      
            margin-top: .25rem ;
      
            border-radius: .125rem;
      
            background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
            transform: matrix(1, 0, 0.28, 0.96, 0, 0);
            border-radius: 2px;
    
            // background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 91.67%);
            // transform: matrix(1, 0, 0.28, 0.96, 0, 0);
      
        }
    }
    
    .selectFilter-menu{
        label{
            color: $white-normal;
            text-transform: uppercase;
            // border: 1px solid red;
        }
    }
    
    select{
        // border: 1px solid red;
    
        padding: .075rem 1rem;
        font-weight: 600;
    
        border-radius: 4px;
    }
    
    
    .inputSearch{
        // border: 1px solid red;
        position: relative;
    
        width: 400px;
    
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
    
            width: 20px;
            height: 20px;
    
            top: 13%;
            left: 4%;
    
            padding: 0rem;
    
            // border: 1px solid red;
            
            background-image: url("../assets/icons/searchIcon.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        input{
        display: block;
        position: relative;
    
        width: 100%;
        height: 45px;
        border: none;
        // border: 1px solid red;
        background-color: transparent;
        background-image: url("../assets/icons/inputSearchIcon.svg");
        // background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        
    
        padding: 0 0 1rem 3rem;
    
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        line-height: 130%;
        font-weight: 200;
    
        color: $white-light;
    
        transition: .3s ease-in;            
    
        &:focus{
            box-shadow: 0 0 0 0;
            outline: 0;
    
            transform: scale(1.01) translateY(-.25px) translateX(1px);
            background-image: url("../assets/icons/inputSearchIconActive.svg");
            background-repeat: no-repeat;
            background-size: contain;
            
            // box-shadow: white;
    
        }
    }
    label{
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        line-height: 130%;
        font-weight: 200;
        color: $white-normal;
    
        display: inline-block;
        position: absolute;
    
        top: 13%;
        left: 27%;
    
        transition: .3s ease-in;
        
        // transform: translateY(-30px) translateX(37px);
    }
    }
    input:focus + label{
        transform: translateX(15px);
        opacity: 0;
        pointer-events: none;
    }    
    
    
    .cardContainer{
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            
            top: 0;
    
            width: 80%;
            height: 3px;
        
            // margin-top: .25rem ;
        
            border-radius: .125rem;
        
            // background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
            // transform: matrix(1, 0, 0.28, 0.96, 0, 0);
            border-radius: 2px;
        
            background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 91.67%);
            transform: matrix(1, 0, 0.28, 0.96, 0, 0);
        
        }
    
        &::after{
            content: "";
            display: block;
            position: absolute;
            
            bottom: 0;
    
            width: 80%;
            height: 3px;
        
            // margin-top: .25rem ;
        
            border-radius: .125rem;
        
            // background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
            // transform: matrix(1, 0, 0.28, 0.96, 0, 0);
            border-radius: 2px;
        
            background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 91.67%);
            transform: matrix(1, 0, 0.28, 0.96, 0, 0);
        
        }
    }
}

.Search{
    .inputSearch{
        width: 600px;
        // border: 1px solid red;

        input{
            
            padding: 0 0 1rem 6rem;

            background-color: transparent;
            background-image: url("../assets/icons/inputSearchIconSecond.svg");
            // background-position: center center;
            &:focus{
                box-shadow: 0 0 0 0;
                outline: 0;
        
                transform: scale(1.01) translateY(-.25px) translateX(1px);
                background-image: url("../assets/icons/inputSearchIconSecondActive.svg");
                background-repeat: no-repeat;
                background-size: contain;
                
                // box-shadow: white;
        
            }
    }
    label{
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        line-height: 130%;
        font-weight: 200;
        color: $white-normal;
    
        display: inline-block;
        position: absolute;
    
        top: 13%;
        left: 15%;
    
        transition: .3s ease-in;
        
        // transform: translateY(-30px) translateX(37px);
    }
    
    
    }
}