
.cardContainer{
    position: relative;
    min-height: 200px;

    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        
        top: 0;

        width: 80%;
        height: 3px;
    
        // margin-top: .25rem ;
    
        border-radius: .125rem;
    
        // background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
        // transform: matrix(1, 0, 0.28, 0.96, 0, 0);
        border-radius: 2px;
    
        background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 91.67%);
        transform: matrix(1, 0, 0.28, 0.96, 0, 0);
    
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        
        bottom: 0;

        width: 80%;
        height: 3px;
    
        // margin-top: .25rem ;
    
        border-radius: .125rem;
    
        // background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
        // transform: matrix(1, 0, 0.28, 0.96, 0, 0);
        border-radius: 2px;
    
        background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 91.67%);
        transform: matrix(1, 0, 0.28, 0.96, 0, 0);
    
    }
}