.DescriptionIDContainer{
    position: relative;
    width: 100%;
    height: 78vh;
    .backgroundPoster {
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
    }
}

.videoContainer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    overflow: hidden;

    text-align: center;

    // border: 1px solid red;

    // padding-bottom: 56.25%;
    height: 100%;
    width: 100%;

    background: rgba(10, 1, 1, 0.48);
    backdrop-filter: blur(3px);
    box-shadow: 0px 2px 16px 0px #F00;
    

  iframe{
    height: 50%;
    width: 50%;
    transform: translateY(50%);
    
    border: 3px solid $white-light;
    border-radius: 8px;

    box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.32);
    // box-shadow: 0px 1px 16px 0px rgba(173, 3, 12, 0.32);


  }
}


// .actors{
//     .actorsItem{
        
//         .imageActor{
//             // border: 1px solid red;
        
//             width: 60px;
//             height: 60px;
//             img{
//                 object-fit: contain;
//             }
//         }
//     }
// }