.Form{

    max-width: 840px;
    
    margin: 3rem auto;
    padding: 3rem 0;

    background: linear-gradient(180deg, #140F10 1.39%, rgba(20, 15, 16, 0) 100%);
    background-image: url("../assets/icons/BackgroundForm.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    // border: 1px solid red;
    h1{
        // color: red;
        text-align: center;
        // border: 1px solid red;
        &::after{
            content: "";
            display: block;
            position: relative;

            width: 300px;
            height: 3px;
            
            margin: 1.5rem auto;

            background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 100%);
            border-radius: 2px;
            transform: matrix(1, 0, 0.28, 0.96, 0, 0);
        }
    }
    form{
        width: 380px;
        // border: 1px solid red;

        .inputUsername{
            // border: 1px solid red;
            position: relative;

            &::after{
                content: "";
                display: inline-block;
                position: absolute;

                width: 20px;
                height: 20px;

                top: 22%;
                left: 3.5%;
                
                background-image: url("../assets/icons/UsernameIcon.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }
        .inputPassword{
            // border: 1px solid red;
            position: relative;

            &::after{
                content: "";
                display: inline-block;
                position: absolute;

                width: 20px;
                height: 20px;

                top: 22%;
                left: 3.5%;
                
                background-image: url("../assets/icons/PasswordIcon.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }
        input{
            display: block;
            position: relative;

            width: 100%;
            height: 45px;
            border: none;
            // border: 1px solid red;
            background-color: transparent;
            background-image: url("../assets/icons/inputIcon.svg");
            // background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            padding: 0 0 .5rem 2.7rem;

            font-family: "Mulish", sans-serif;
            font-size: 16px;
            line-height: 130%;
            font-weight: 200;

            color: $white-light;

            transition: .3s ease-in;            

            &:focus{
                box-shadow: 0 0 0 0;
                outline: 0;

                transform: scale(1.01) translateY(-1px) translateX(1px);
                background-image: url("../assets/icons/inputIconActive.svg");

                // box-shadow: white;

            }
        }
        label{
            font-family: "Mulish", sans-serif;
            font-size: 16px;
            line-height: 130%;
            font-weight: 200;
            color: $white-normal;

            display: inline-block;
            position: absolute;

            top: 23%;
            left: 11%;

            transition: .3s ease-in;
            
            // transform: translateY(-30px) translateX(37px);
        }
        input:focus + label{
            transform: translateX(15px);
            opacity: 0;
            pointer-events: none;
        }    
    }
    p{
        color: $gray-1;
        font-size: 16px;
        span{
            display: inline-block;

            color: $white-normal;
            font-size: 15px;
            opacity: .9;

            transition: .3s ease;
            cursor: pointer;
            &:hover{
                opacity: 1;

                color: $white-light;

                transform: translateX(1.5px);
            }
        }
    }
    
}