
.SwiperListItem{
    position: relative;
    width: 232px;
    height: 344.14px;

    justify-content: flex-end;
    align-items: center;


    
    // border: 5px solid red;

    border-radius: 24px;

    overflow: hidden;

    cursor: pointer;

    transition: .3s ease-in;

    &:hover{
        transform: scale(1.05) translateY(-4px);
        // box-shadow: 0px -17px 53px rgba(240, 223, 223, 0.06), 0px -6.20528px 19.3459px rgba(240, 223, 223, 0.0413989), 0px -3.01255px 9.39206px rgba(240, 223, 223, 0.0333774), 0px -1.47681px 4.60416px rgba(240, 223, 223, 0.0266226), 0px -0.583932px 1.82049px rgba(240, 223, 223, 0.0186011);
        .sinopseHover{
            opacity: 1;
            transform: translateY(0px);
        }
        .backgroundListItem{
            &::after{
                background: linear-gradient(180deg, rgba(8, 5, 6, 0.32) 0%, #080506 100%);
                backdrop-filter: blur(2px);
            }
        }
        .titleListItem, .titleListItem &::after,.descriptionListItem p{
            opacity: 0;
            transform: translateY(8px);
        }

    }

    .sinopseHover{
        position: absolute;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // border: 2px solid red;

            width: 100%;
            height: 100%;

            padding: .5rem ;

        opacity: 0;

        transform: translateY(25px);

        transition: .3s ease-in;
    }

    .titleListItem,.descriptionListItem p{
        transition: .3s ease-in;
    }
    .titleListItem{
        
        &::after{
            content: "";
            display: block;
            position: relative;

            margin: .25rem auto;

            width: 100px;
            height: 2px;

            // margin-top: .125rem ;

            border-radius: .125rem;

            // background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
            // transform: matrix(1, 0, 0.28, 0.96, 0, 0);

            background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 91.67%);
            border-radius: 2px;
            transform: matrix(1, 0, 0.28, 0.96, 0, 0);

            
        }
        
    }

    .descriptionListItem p{
        opacity: .64;
    }

    .duration{
        
        &::before{
            content: "";
            display: inline-block;
            position: relative;

            top:4px;

            width: 16px ;
            height: 16px;

            margin-right: .25rem;

            // border: 1px solid red;

            background-image: url("../assets/icons/durationIcon.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            
        }
        
    }

    .rated{
        &::before{
            content: "";
            display: inline-block;
            position: relative;

            top:4px;
            
            

            width: 20px ;
            height: 20px;

            margin-right: .125rem;

            // border: 1px solid red;

            filter: drop-shadow(0px 4px 8px rgba(8, 5, 6, .64)) drop-shadow(0px 4px 8px rgba(8, 5, 6, 0.64)) ;

            background-image: url("../assets/icons/ratedIcon.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            
        }
        
    }

    
    
    .backgroundListItem{
        display: block ;
        position: absolute;

        z-index: -999;
        &::after{
            content: "";
            display: block;
            position: absolute;
    
            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;
    
            background: linear-gradient(180deg, rgba(8, 5, 6, 0.04) 49.98%, #080506 99.96%);
            backdrop-filter: blur(0px);
            transition: .3s ease-in;
        }
        
    }
}