

.header{
    max-width: 100%;
    // margin: 0 72px;

    position: relative;

    padding: 32px 96px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;

    z-index: 999;

    @include responsive(s) {
        display: none;
      }
      
    // border: 1px solid red;

    &::after{
        content: "";
        display: block;
        position: absolute;

        bottom: 0;

        height: 1.2px;
        width: 40%;
        background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, rgba(252, 248, 248, 0.880208) 50%, rgba(8, 5, 6, 0) 91.67%);   
    }
}


   
      
    .header-menu{
        // width: 100%;
        // border: 1px solid red;
        .logo{
            // border: 1px solid rgb(103, 103, 103);
            background-image: url("../assets/icons/logoIcon.svg");
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 38.69px;

            @include responsive(s){
                width: 120px;
                // height: 50px;
            }
            
            cursor: pointer;
        }
        .menu-list{
            
            .active{
                // border: 1px solid red;
                position: relative;
                &::after{
                    content: "";
                    display: block;

                    position: absolute;
                    bottom: 0;
                    left: -5px;

                    width: 70%;
                    height: 2px;

                    opacity: 0;
                    
                    background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
                    transform: matrix(1, 0, 0.28, 0.96, 0, 0);

                    opacity: 1;

                    transform: translateX(6px);

                }
            }
            
            .menu-item{
                position: relative;
                text-align: left;

                padding-left: 0;

                color: $white-normal;
                opacity: .88;

                @include typeface-2(p1, desktop);
                @include responsive(s) {
                    @include typeface-2(p1, mobile);
                }

                font-weight: 600;

                cursor: pointer;

                &::after{
                    content: "";
                    display: block;

                    position: absolute;
                    bottom: 0;
                    left: -5px;

                    width: 0%;
                    height: 2px;

                    opacity: 0;
                    
                    background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
                    transform: matrix(1, 0, 0.28, 0.96, 0, 0);

                    transition: .3s ease;
                }
                transition: .3s ease;
                &:hover{
                    color: white;
                    opacity: 1;

                    transform: translateX(1px);
                    &::after{
                        width: 70%;
                        opacity: 1;

                        transform: translateX(6px);

                    }
                }
            }
        }
    }
    .header-user{

        .search{
            position: relative;
            width: 40px ;
            height: 40px;
            border: 2px solid $white-normal;
            border-radius: 100%;
            opacity: .8;

            &::after{
                content: "";
                position: absolute;
                display: inline-block;

                width: 24px;
                height: 24px;

                top: 20%;
                left: 20%;

                background-image: url("../assets/icons/searchIcon.svg");
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

.headerMobile{
    @media  screen and (min-width : 960px) {
        display: none;
    }  
    .header{
        max-width: 100%;
        // margin: 0 72px;
    
        position: relative;
    
        padding: 16px 32px;
    
        margin: 0 auto;
    
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    
        z-index: 999;
    }
    .menuHeaderMobile{
  
        width: 100%;
    
        .header-menu{
            max-width: 100%;

            position: fixed;
            bottom: 24px;
            z-index: 999;
            
            padding: 0px 16px;
            margin: 0 auto;

            // overflow: hidden;

            border-radius: 32px;

            border: 3px solid $white-normal;
            background-color: $black-dark;
            // background: rgba(252, 248, 248, 0.05);
            
        }

        .menu-item-mobile{
            
            color: $white-dark;
            opacity: .8;

            font-size: 12px;
            // border: 1px solid green;s

            &::before{
                content: "";
                display: flex;
                position: relative;

                width: 20px;
                height: 20px;

                // border: 1px solide red;
                // background-color: red;

                margin:0 auto;

                margin-bottom: 4px;
            }

        }

        .menu-item-main{
            
            position: absolute;
             z-index: 9999;

             background-color: $black-dark;
            

            left: 37.5%;
            top: -10px;

            width: 80px;
            height: 80px;

            border-radius: 100%;

            border: 3px solid $white-normal;

        }
        .icon-inicio{
            
            &::before{
                background-image: url("../assets/icons/iconInicio.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .icon-filme{
            
            &::before{
                background-image: url("../assets/icons/iconFilme.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .icon-série{
            
            &::before{
                background-image: url("../assets/icons/iconSérie.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .icon-anime{
            
            &::before{
                background-image: url("../assets/icons/iconPokebola.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}
    





// lixo
// icone que abre barra de busca

 // .search{
        //     position: relative;
        //     width: 50px;
        //     input{
        //         position: relative;
        //         width: 100%;
        //         border: none;
        //         border-radius: 32px;
        //         padding: 16px 24px;

        //         &:focus{
        //             outline: none;
        //             box-shadow: 0 0 0 0;
        //         }
        //     }
        //     &::after{
        //         content: "";
        //         display: inline-block;
        //         position: absolute;
        //         top: -4%;
        //         right: 0px;
        //         width: 50px;
        //         height: 50px;
        //         border-radius: 50%;
        //         border: 1px solid red;
        //         background-color: red;
        //         // opacity: 0;
        //     }
        //     transition: .5s ease;
        //         &:hover{
        //             width: 200px;
        //             transform: translateX(2px);
        //         }
        // }