// Colors of project

// Brand-colors
$primary-normal: #E50914;
$primary-dark: #B30710;
$primary-light: #FC303E;

$secondary-normal: #a950c4;
$secondary-dark: #9142a8;
$secondary-light: #bb71d2;

// Neutral-colors
$black-normal: #1D0506;
$black-dark: #0A0101;
$black-light: #2E0B0C;

$white-normal: #FDF9F9;
$white-dark: #F5E9E9;
$white-light: #FDF9F9;

// Gray Scale
$gray-1: #948889;
$gray-2: #887778;
$gray-3: #7A6466;
// $gray-4: #767576;
// $gray-5: #868587;
// $gray-6: #969597;
// $gray-7: #a6a6a7;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;
