// Typography of project

@mixin typeface-1($size, $device: desktop) {
  font-family: "Mulish", sans-serif;

  @if $size == h1 and $device == desktop {
    font-size: 36px;
    line-height: 100%;
  } @else if $size == h1 and $device == mobile {
    font-size: 36px;
    line-height: 100%;
  } @else if $size == h2 and $device == desktop {
    font-size: 32px;
    line-height: 100%;
  } @else if $size == h2 and $device == mobile {
    font-size: 36px;
    line-height: 100%;
  } @else if $size == h3 and $device == desktop {
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
  } @else if $size == h3 and $device == mobile {
    font-size: 24px;
    line-height: 120%;
  } @else if $size == h4 and $device == desktop {
    font-size: 24px;
    line-height: 130%;
  } @else if $size == h4 and $device == mobile {
    font-size: 18px;
    line-height: 130%;
  } @else if $size == h5 and $device == desktop {
    font-size: 18px;
    line-height: 140%;
  } @else if $size == h5 and $device == mobile {
    font-size: 16px;
    line-height: 150%;
  }
}

@mixin typeface-2($size: p2, $device: desktop) {
  font-family: "Mulish", sans-serif;

  @if $size == p1 and $device == desktop {
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
  } @else if $size == p1 and $device == mobile {
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
  } @else if $size == p2 and $device == desktop {
    font-size: 13px;
    line-height: 140%;
    font-weight: 400;
  } @else if $size == p2 and $device == mobile {
    font-size: 13px;
    line-height: 150%;
    font-weight: 400;
  } @else if $size == p3 and $device == desktop {
    font-size: 12px;
    line-height: 150%;
    font-weight: 800;
  } @else if $size == p3 and $device == mobile {
    font-size: 12px;
    line-height: 150%;
    font-weight: 800;
  }@else if $size == p4 and $device == desktop {
    font-size: 12px;
    line-height: 150%;
    font-weight: 800;
    text-transform: uppercase;
  } @else if $size == p4 and $device == mobile {
    font-size: 12px;
    line-height: 150%;
    font-weight: 800;
    text-transform: uppercase;
  } @else if $size == p5 and $device == desktop {
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
  } @else if $size == p5 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
  }@else if $size == p6 and $device == desktop {
    font-size: 15px;
    line-height: 150%;
    font-weight: 600;
  } @else if $size == p6 and $device == mobile {
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
  }
  
}

h1 {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 64);
  color: white;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  color: $white-normal;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

h3 {
  color: $white-normal;
  @include typeface-1(h3, desktop);
  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

h4 {
  color: $white-normal;
  @include typeface-1(h4, desktop);
  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
}

h5 {
  @include typeface-1(h5, desktop);
  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

p {
  color: $white-normal;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 64);
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}
.p1 {
  @include typeface-2(p1, desktop);
  @include responsive(s) {
    @include typeface-2(p1, mobile);
  }
}
.p2 {
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}
.p3 {
  @include typeface-2(p3, desktop);
  @include responsive(s) {
    @include typeface-2(p3, mobile);
  }
}
.p4 {
  @include typeface-2(p4, desktop);
  @include responsive(s) {
    @include typeface-2(p4, mobile);
  }
}
.p5 {
  @include typeface-2(p5, desktop);
  @include responsive(s) {
    @include typeface-2(p5, mobile);
  }
}
.p6 {
  @include typeface-2(p6, desktop);
  @include responsive(s) {
    @include typeface-2(p6, mobile);
  }
}

.bold {
  font-weight: bold;
  color: $black-light;
}

strong {
  color: $white-normal;
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}

.text-center {
  text-align: center;
}

.text-left{
  text-align: left;
}