.height100vh{
    height: 100vh;
}
.height100{
    height: 100%;
}
.DescriptionIDContainer{
    // position: relative;
    // width: 100%;
    // height: 80vh;

  transform: translateY(-16px);

  // margin-bottom: -64px;

//   border: 1px solid red;
}
.CardMain{
    transform: translateY(56px);
}
.backgroundPoster{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    // height: 100vh;
    overflow: hidden ; 
    
    z-index: -999;

    // border: 1px solid red;

    &::before{
        content: "";
        display: inline-block;
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        // background: linear-gradient(180deg, #080506 -1.43%, rgba(8, 5, 6, 0.32) 47.8%, #080506 96.41%);
        //background: linear-gradient(180deg, #0A0101 3.32%, rgba(10, 1, 1, 0.32) 33.69%, rgba(10, 1, 1, 0.32) 56.55%, #0A0101 95.35%);
        // background: linear-gradient(180deg, #0A0101 3.32%, rgba(10, 1, 1, 0.54) 33.69%, rgba(10, 1, 1, 0.54) 56.55%, #0A0101 95.35%);
        background: linear-gradient(180deg, rgba(10, 1, 1, 0.64) 0%, rgba(10, 1, 1, 0.54) 33.00%, rgba(10, 1, 1, 0.54) 57.84%, #0A0101 100%);
    }
}

.backgroundPosterDescription{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    // height: 100vh;
    overflow: hidden ; 
    
    z-index: -999;

    // border: 1px solid red;

    &::before{
        content: "";
        display: inline-block;
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        // background: linear-gradient(180deg, #080506 -1.43%, rgba(8, 5, 6, 0.32) 47.8%, #080506 96.41%);
        //background: linear-gradient(180deg, #0A0101 3.32%, rgba(10, 1, 1, 0.32) 33.69%, rgba(10, 1, 1, 0.32) 56.55%, #0A0101 95.35%);
        background: linear-gradient(180deg, #0A0101 3.32%, rgba(10, 1, 1, 0.54) 33.69%, rgba(10, 1, 1, 0.54) 56.55%, #0A0101 95.35%);
        // background: linear-gradient(180deg, rgba(10, 1, 1, 0.64) 0%, rgba(10, 1, 1, 0.54) 33.00%, rgba(10, 1, 1, 0.54) 57.84%, #0A0101 100%);
    }
}



.SwiperDescriptionItem{
    // border: 1px solid red;
    width: 100%;
    height: 100%;
}

.desciptionPoster{
    max-width: 224px;
    img{
        border-radius: 24px;
    }
    
}
.desciptionLogo{
    max-width: 700px;
    // box-shadow: 2px 2px 100px black;
    // img{
        
    // }
    
}
.description{
    max-width: 600px;

    .title{
        &::after{
            content: "";
            display: block;
            position: relative;

            width: 100px;
            height: 4px;

            margin-top: .5rem ;

            border-radius: .125rem;

            // background: linear-gradient(89.97deg, #E50914 0%, rgba(8, 5, 6, 0) 101.2%);
            // transform: matrix(1, 0, 0.28, 0.96, 0, 0);

            background: linear-gradient(90deg, rgba(8, 5, 6, 0) 0%, #E50914 50%, rgba(8, 5, 6, 0) 91.67%);
            border-radius: 2px;
            transform: matrix(1, 0, 0.28, 0.96, 0, 0);

        }
    }
    .duration{
        
        &::before{
            content: "";
            display: inline-block;
            position: relative;

            top:4px;

            width: 20px ;
            height: 20px;

            margin-right: .5rem;

            // border: 1px solid red;

            background-image: url("../assets/icons/durationIcon.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat
        }
    }

    .rated{
        &::before{
            content: "";
            display: inline-block;
            position: relative;

            top:4px;
            
            

            width: 24px ;
            height: 24px;

            margin-right: .5rem;

            // border: 1px solid red;

            filter: drop-shadow(0px 4px 8px rgba(8, 5, 6, .64)) drop-shadow(0px 4px 8px rgba(8, 5, 6, 0.64)) drop-shadow(0px 4px 8px rgba(252, 248, 248, 0.16)) drop-shadow(0px 4px 8px rgba(252, 248, 248, 0.16)) ;

            background-image: url("../assets/icons/ratedIcon.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat
        }
    }

    .imageActor { 
        // border: 5px solid red;
        width: 64px;

        
        img{
            border-radius: 35%;
            object-fit: contain;
        }
    }

    .imageProductionCompany{

        width: 100px;
        
        img{
            // border-radius: 35%;
            object-fit: contain;
        }
    }

    // .sinopseMain{
    //     // border: 1px solid red;
    // }
    
    
}

.playIcon{
    width: 100%;
    height: 160px;

    // border: 1px solid red;

    background-image: url("../assets/icons/playIcon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 160px;

    cursor: pointer;

    transition: .5s ease;
    &:hover{
        filter: drop-shadow(0px 0px 4px rgba(252, 248, 248, 0.16)) drop-shadow(0px 0px 8px rgba(252, 248, 248, 0.08)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transform: translateY(1px) scale(1.1);
        background-image: url("../assets/icons/playIconHover.svg");
    }
}


.playIconDisable{
    width: 100%;
    height: 160px;

    // border: 1px solid red;

    background-image: url("../assets/icons/playIcon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 160px;

    cursor: none;
    pointer-events: none;

    opacity: .5;
}

